@model Clinc_Care_MVC_Grad_PROJ.Areas.Client.Models.Appointment


<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-person-circle-question fa-2xl"></i> Add Results</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form enctype="multipart/form-data" asp-route-id="@Model.AppointmentId" asp-controller="RadRequest" asp-area="Managment" asp-action="UploadPdf">
        <div class="mb-3">
            <label class="form-label fw-bold text-primary">Upload Resault</label>
            <input type="file" name="pdfFile" class="form-control" />
        </div>
        <input type="submit" value="Upload PDF" class="btn btn-success"  />
    </form>
</div>