@model Clinc_Care_MVC_Grad_PROJ.Areas.Client.Models.Appointment
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Lab Orders</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Lab test Name</th>
                <th scope="col">Is Internal</th>
            </tr>
        </thead>
        <tbody>
            @{
                var counter = 0;
            }
            @foreach (var lab in Model.LaboratoryOrders)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@lab.LaboratoryTypeIdNavigation.LabName</td>
                    @if (lab.IsInternal == true)
                    {
                        <td><span class="badge bg-success">Inside</span></td>
                    }
                    else
                    {
                        <td><span class="badge bg-danger">Outside</span></td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>