@model Clinc_Care_MVC_Grad_PROJ.Models.ViewModels.ForgotPasswordModel

@{
    ViewData["Title"] = "ForgotPassword";
}

<style>
    main{
        height:50vh;
        display:flex;
        align-items:center;
        justify-content:center;
        background-color:#ddd;
    }
    
</style>

<div class="resetForm">
    <div class="card text-center shadow-sm animate__animated animate__zoomIn" style="width: 400px;">
        <div class="card-header h5 text-white bg-primary">Password Reset</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Enter your email address and we'll send you an email with instructions to reset your password.
            </p>
            <form asp-action="ForgotPassword">
                <div class="form-outline">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control  my-3" placeholder="email address" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <input name="recover-submit" class="btn btn-primary w-100" value="Reset Password" type="submit">
            </form>

            <div class="m-auto my-3">
                <a class="" asp-action="Login" asp-controller="Account">Login / Register</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
     }
