@model Clinc_Care_MVC_Grad_PROJ.Areas.Managment.Models.DoctorSchedule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DoctorSchedule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorIdNavigation.EmpFirstName)
        </dt>
        <dd class="col-sm-10">
            @{
                var name = Model.DoctorIdNavigation.EmpFirstName + " " + Model.DoctorIdNavigation.EmpLastName;
            }
            @Html.DisplayFor(model => name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysOfWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaysOfWeek)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ScheduleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
