@model Clinc_Care_MVC_Grad_PROJ.Areas.Managment.Models.RadiologyOrder

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RadiologyOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentIdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentIdNavigation.AppointmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RadiologyTypeIdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RadiologyTypeIdNavigation.RadiologyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RadiologyOrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
