@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>;

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout2";
}

<h1>Roles</h1>

<p>
    <a asp-action="Createrole" class="btn btn-success">Create New role</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>


