@model Clinc_Care_MVC_Grad_PROJ.Areas.Managment.Models.LaboratoryRecord
@using Clinc_Care_MVC_Grad_PROJ.Areas.Client.Models
@using Clinc_Care_MVC_Grad_PROJ.Areas.Managment.Models

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LaboratoryRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LabResult" class="control-label"></label>
                <input asp-for="LabResult" class="form-control" />
                <span asp-validation-for="LabResult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LabRecordsDate" class="control-label"></label>
                <input asp-for="LabRecordsDate" class="form-control" />
                <span asp-validation-for="LabRecordsDate" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class="form-control" asp-items="@ViewBag.Patients"></select>
            </div>
            <div class="form-group">
                <label asp-for="LabTypeId" class="control-label"></label>
                <select asp-for="LabTypeId" class="form-control" asp-items="@ViewBag.LabTypes"></select>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

